<!DOCTYPE html>
<html>
<body>

<h1>Apache web server - Demo for using Ansible Roles</h1>

<p>This is a Ansible test server - {{ansible_hostname}}</p>

<p> This server is maintained by {{type}} server team </p>

</body>
</html>